<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Timetracking tool</title>
</head>
<body>
  <h1> Insert your email address please: contact@example.com </h1>
  <p>Ironhack powered</p>
</body>
</html>