<h1>Aquí están tus proyectos</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.name %>
      <% unless project.description.blank? %>
        <%= " - #{project.description}" %>
      <% end %>
    </li>
  <% end %>
</ul>